.row
  .span4.offset4.well
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-full-width' }) do |f| 
      %fieldset
        %legend= t('devise.views.sessions.new.title')
        = render_flashes
        = f.label :tel
        = f.text_field :tel
        = f.label :password
        = f.password_field :password
        .control-group
          - if devise_mapping.rememberable?
            = f.hidden_field :remember_me, :value => true
          = f.submit t('devise.views.sessions.new.submit'), :class => ['btn', 'btn-info']
