!!! 5
%html
  %head
    %title= t('layout.title')
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body{:class => body_attributes}
    %header#header
      .navbar.navbar-static-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/"}
              %span.icon-guomu
              %span= t('layout.guomu')
            .nav-collapse.collapse
              = render_user_bar
    #main
      .container
        = render_flashes

      = yield :before_content

      #content
        .container
          = content_for?(:content) ? yield(:content) : yield

    %hr
    %footer
      .container
        %ul.pull-left.horizontal
          %li
            %a{:href=>"http://github.com/saberma/19wu"}= t('layout.opensource')
          %li.muted /
          %li
            %a{:href=>"mailto:starclouds.net@gmail.com"}= t('layout.contact_us')
        %ul.pull-right.horizontal
          %li &copy; #{Date.current.year }
          %li
            %a{:href => "http://caok.github.com/", :target => "_blank"}= t('layout.holder')

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
